<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<settings>
	<setting name="mapUnderscoreToCamelCase" value="true"/>
</settings>
<typeAliases>
	<typeAlias type="com.ezen.myweb.domain.BoardVO" alias="bvo"/> 
	<typeAlias type="com.ezen.myweb.domain.BFileVO" alias="bfvo"/> 
	<typeAlias type="com.ezen.myweb.domain.PagingVO" alias="pgvo"/> 
	<typeAlias type="com.ezen.myweb.domain.BCommentVO" alias="bcvo"/> 
	<typeAlias type="com.ezen.myweb.security.MemberVO" alias="mvo"/>
	<typeAlias type="com.ezen.myweb.security.AuthVO" alias="authVO"/>
</typeAliases>
</configuration>
